  


    
    <!-- Header -->
    <header class="masthead" >
      <div class="container d-flex h-100 align-items-center ">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Therific</h1>
          <a href="/signup/user" class="btn btn-primary js-scroll-trigger mb-2 sr-icons">Get Started as a User</a>
          <a href="/signup/therapist" class="btn btn-primary js-scroll-trigger mb-2 sr-icons">Get Started as a Therapist</a>
        </div>
      </div>
    </header>