
<h5>Please click below link to make your payment.</h5>
<p><%= link_to "Make Payment", reservation_braintree_new_path(@reservation), :class => "btn btn-info btn-sm"  %></p>	

<h5>Help us to refine our service by giving us reviews.</h5>
<p><%= link_to "Make a Review", new_reservation_review_path(@reservation), :class => "btn btn-info btn-sm" %> </p>	

